.innercontainer {

    border: 1px solid black;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: size 25pt;
    padding: 5px;
}

img {
    width: 70px;
    height: 80px;
}

.button {
    background-color: darkkhaki;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonR {
    border-radius: 50%;
}

.BtnNav {
    border-radius: 30%
}

#QuestionNav {
    width: inherit;
    align-self: stretch;
    margin: 5px;
    padding: 5px;

}

#preview {
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    width: 100px;
    height: 80px;
}

#DispProPic {
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    float: right;
    width: 90px;
    height: 90px;
}

#DispUserId {
    float: right;
    font-weight: bold;
}

.shadow {
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px khaki;
    -moz-box-shadow: 10px 10px 5px khaki;
    -webkit-box-shadow: 10px 10px 5px khaki;
    -khtml-box-shadow: 10px 10px 5px khaki;
}

.SectionButton:hover {
    background-color: chocolate;    
    color: white;
}
